@{
    ViewData["Title"] = "Home";
}

<!-- slideshow start here -->
<div class="camera_wrap" id="camera-slide">

    <!-- slide 1 DevOps / Project Services / Services1-->
    <div data-src="img/slides/camera/slide1/img1.jpg">
        <div class="camera_caption fadeFromLeft">
            <div class="container">
                <div class="row">
                    <div class="span6">
                        <h2 class="animated fadeInDown"><strong>We Offer <span class="colored">Project Development</span> Services</strong></h2>
                        <p class="animated fadeInUp bold">Our Proven industry standard Agile Processes deliver more value sooner with less defects than traditional software development approaches.</p>

                        <p style="display: grid;">
                            <a href="~/Home/Services/1" class="btn btn-success btn-large animated fadeInUp">
                                <i class="icon-link"></i> Learn More About <br /><span class="colored">Project Services</span>
                            </a>
                        </p>
                    </div>
                    <div class="span6">
                        <img src="img/slides/camera/slide1/DevOps.jpg" alt="" class="animated bounceInDown delay1" />
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- slide 2 Full Stack / Development / Services2-->
    <div data-src="img/slides/camera/slide2/img1.jpg">
        <div class="camera_caption fadeFromLeft">
            <div class="container">
                <div class="row">
                    <div class="span6">
                        <img src="img/slides/camera/slide2/full-stack.jpg" alt="" class="animated bounceInLeft delay1" />
                    </div>
                    <div class="span6">
                        <h2 class="animated fadeInDown"><strong><span class="colored">Full Stack</span> Development</strong></h2>
                        <p class="animated fadeInUp bold"> We can develop a reactive User Interface (UI/UX) in addition to your secure back end API suite.</p>

                        <p style="display: grid;">
                            <a href="~/Home/Services/2" class="btn btn-success btn-large animated fadeInUp">
                                <i class="icon-link"></i> Learn More About <br /><span class="colored">Development Services</span>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- slide 3 CSP / Cloud Migration / Services3-->
    <div data-src="img/slides/camera/slide1/img1.jpg">
        <div class="camera_caption fadeFromLeft">
            <div class="container">
                <div class="row">
                    <div class="span6">
                        <h2 class="animated fadeInDown"><strong>We are your <span class="colored">Cloud Solutions Provider</span>.</strong></h2>
                        <p class="animated fadeInUp bold">We are soon to be a Microsoft Partner and a Cloud Solutions Provider.</p>

                        <p style="display: grid;">
                            <a href="~/Home/Services/3" class="btn btn-success btn-large animated fadeInUp">
                                <i class="icon-link"></i> Learn More About <br /><span class="colored">Cloud Services</span>
                            </a>
                        </p>
                    </div>
                    <div class="span6">
                        <img src="img/slides/camera/slide3/cloud.jpg" alt="" class="animated bounceInDown delay1" />
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- slide 4 Reactive -->
    @*<div data-src="img/slides/camera/slide4/img1.jpg">
        <div class="camera_caption fadeFromLeft">
            <div class="container">
                <div class="row">
                    <div class="span6">
                        <img src="img/slides/camera/slide4/reactive.jpg" alt="" class="animated bounceInLeft delay1" />
                    </div>
                    <div class="span6">
                        <h2 class="animated fadeInDown"><strong><span class="colored">Reactive</span> Designs for Mobile and Beyond</strong></h2>
                        <p class="animated fadeInUp bold"> Using frameworks like React and Bootstrap, your User Experience will be the best available for full-sized screens as well as mobile devices.</p>

                        <p style="display: grid;">
                            <a href="~/Home/Services/4" class="btn btn-success btn-large animated fadeInUp">
                                <i class="icon-link"></i> Learn More About <br /><span class="colored">Full-Stack Development Services</span>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>*@

</div>
<!-- slideshow end here -->


<!-- /content -->
<div class="row">
    <div class="span12">
        <h4>About our company</h4>

        <p>
            Flawless Development LLC is founded on the principle that technology should deliver value.
            This can be done by the way we <strong>Deliver</strong> and <strong>Develop</strong> your <strong>Design</strong>.
            Our engagement model is key.
        </p>

        <p>
            <strong>We have only three engagement models.</strong>  This allows us (and you) to quickly arrive at conclusion
            whether we are a good fit to help with your IT needs.  We don't bid what we cannot comfortably deliver and
            that way everyone ends up spending <strong>time on productive endeavors</strong> rather than doing damage control
            at the end of the project.  We might be a small enterprise, but business is good and we want all of our clients to
            stay happy and stress-free.
        </p>

        @*<p>Our experienced Azure DevOps Engineers and Developers will bring your entire Developemnt effort into focus using project dashboards and tools that allow you to see the status of youre project in real time as it is developed.</p>
        <p>This constant feedback gives you greater control to choose the features that are the most important to you so that they are delivered first.</p>*@

        <!-- slide 2 Full Stack / Development / Services2-->
        <p>
            <strong>Staff Augmentation.</strong> The simplest way we engage is by adding Developer skills to your team.
            We can add bodies to a project that you manage in order to increase your velocity or even knock out a list of bugs.
        </p>

        <!-- slide 1 DevOps / Project Services / Services1-->
        <p>
            <strong>Projects.</strong>
            The next level of Engagement is where we manage parts of the development process itself. We are experts at
            quickly implementing fully agile development practices up to and including Continuous Delivery as needed.

            If we fully manage the development process, you get real-time project status and metrics on a project dashboard
            and you get to keep the knowledge at the end of the project for your own internal teams as a bonus.
        </p>

        <!-- slide 3 CSP / Cloud Migration / Services3-->
        <p>
            <strong>Cloud Migration.</strong>
            The final engagement model that we offer is migrating your on-premise infrastructure to the cloud.  As certified
            Cloud Solutions Providers and belonging to the Microsoft Partner Network, we have vast resources available to
            answer even the most challenging infrastructure and cloud migration concerns.
        </p>
    </div>

</div>


<!-- divider -->
<div class="row">
    <div class="span12">
        <div class="solidline"></div>
    </div>
</div>
<!-- end divider -->


<div class="row team">
    <div class="span12">
        <h4 class="title">Our Team</h4>
    </div>

    <div class="span12">
        <div class="team-box">
            <a href="#" class="thumbnail"><img src="~/img/team/willdavis.jpg" alt="" /></a>
            <div class="roles aligncenter">
                <p>
                    CEO - Founder
                </p>
                <p class="lead"><strong>Will Davis</strong></p>
                <p>
                    <a href="https://www.linkedin.com/in/william-davis-developer/">
                        <i class="icon-linkedin icon-circled icon-bglight active"></i>
                    </a>
                </p>
            </div>
        </div>
    </div>

</div>
<div class="blankline30"></div>
