@{
    ViewData["Title"] = "Privacy Policy";
}

<!-- /breadbrumb -->
<section id="content">
    <div class="container">
        <div class="row">
            <div class="span12">
                <div class="inner-heading">
                    <ul class="breadcrumb">
                        <li><a href="~/">Home</a> <i class="icon-angle-right"></i></li>
                        <li class="active">Privacy</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- /content -->
<div class="row">
    <div class="span12">
        <h4>Privacy</h4>
        
        <p>You have none.</p>
    </div>

</div>

<!-- divider -->
<div class="row">
    <div class="span12">
        <div class="solidline"></div>
    </div>
</div>
<!-- end divider -->

<div class="blankline30"></div>
