@{
    ViewData["Title"] = "DevOps Project Services";

    string[][] a = new string[][] { new string[] { "/Home", "Home" }, new string[] { "/Home/Services/0", "Services" } };

    ViewData["Crumbs"] = a;
}

<!-- /content -->
<div class="row">
    <div class="span12">
        <h4>@(ViewData["Title"])</h4>

        <p>
            Modern Development Teams need to know how to do more than just develop software and write good code.
            Software does not run in a bubble, it runs on infrastructure, <strong>your</strong> infrastructure.
            Whether your infrastructure is "in the cloud" or "on-premises", developers need to accomodate the
            environment in which not only the code is developed, but also the environment in which it will run.
            With the emergence of <strong>Kubernetes</strong> and other containerization deployment technologies,
            there are more options now than in the past and Developers need to code with the implications of
            portable design and rapid release and deployment in mind.
        </p>

        <p>
            Enter <strong>DevOps</strong>, the merging of Development with Infrastructure and Agile processes.
        </p>

        <p>
            The benefits of Azure DevOps arise due to the way in which applications are developed and delivered.
            There are three main components of a Minimum Functioning Agile Development Process.
        </p>

        <p>
            The <strong>Project Board</strong> is the heart of agile development. This is where all requirements
            are tracked as well as the status of every feature in development.  You will also be able to quickly
            see if there are any impediments or blockers as well as manage your backlog and see progress on any
            bugs found along the way.  Azure also lets you check the progress of the project at any time with
            integrated dashboards that allow you to set customized metrics to see the efficiency of development
            as well as alert you to any deadlines that are in jeopardy long before they become visible at any other
            level.
        </p>

        <p>
            <strong>Continuous Integration</strong> (CI) is a vital part of the agile development process where
            delivery of functionality happens continuously throughout the entire project. This means that you
            get to see your  application take shape immediately as new features are completed.
        </p>

        <p>
            <strong>Continuous Delivery</strong> is the last piece of a minimally functioning agile team. The rapid
            pace of development and release requred for a successful project in today's business environment cannot
            be realized unless new features can immediately be tested by a QA team, UAT team, or end users so that
            feedback on changes or bugs is communicated to Developers in a timely fashion.  It is impossible to test
            software unless a delivery method exists that is automated and provides a low-effort way to get changes
            in front of testers.
        </p>

        <p>
            You can read more about <a href="https://azure.microsoft.com/en-us/features/devops-projects/"> Microsoft Azure DevOps here</a>.
        </p>

        <p>
            <strong>Flawless Development</strong> will always suggest Boards, Continuous Integration, and Continuous Delivery
            as minimum processes before taking on any assignment that uses more than two Developers.  We strive to build high
            quality projects and deliver results that exceed your expectations. Without hte tools and practices that have been
            proven, the chances of success are reduced.  Neither party would benefit from this situation.  Let us be your Agile
            enablers.  We are open to using any tool that allows for the three minimum processes and Azure is just one suite of
            tools at our disposal.  We have experience with Jira, Jenkins, Git, Github, Team Foundation Server, and several
            other tools as well.  Each engagement is unique.  Let's discuss your situation to see if Flawless Development is
            the right partner for your development needs.
        </p>
    </div>
</div>

<!-- divider -->
<div class="row">
    <div class="span12">
        <div class="solidline"></div>
    </div>
</div>
<!-- end divider -->

<div class="blankline30"></div>
