@{
    ViewData["Title"] = "Cloud Migration Services";

    string[][] a = new string[][] { new string[] { "/Home", "Home" }, new string[] { "/Home/Services/0", "Services" } };

    ViewData["Crumbs"] = a;
}


<!-- /content -->
<div class="row">
    <div class="span12">
        <h4>@(ViewData["Title"])</h4>

        <p></p>
    </div>
</div>

<!-- divider -->
<div class="row">
    <div class="span12">
        <div class="solidline"></div>
    </div>
</div>
<!-- end divider -->

<div class="blankline30"></div>
