@{
    ViewData["Title"] = "Services";

    string[][] a = new string[][] { new string[] { "/Home", "Home" } };

    ViewData["Crumbs"] = a;
}

<!-- /content -->
<div class="row">
    <div class="span12">
        <h4>Services</h4>

        <p class="animated fadeInUp">
            By using the existing and well-known dashboards and project boards built into Azure, your project status is updated in real-time for maximum transparency.
            Sprint and Backlog planning are essential and by using tried and tested Agile practices and the tools builtinto Azure, we can minimize the impact of setting up environments for industry
            best practices such as Continuous Integration and Continuous Delivery without requiring a project just for the initial setup.
        </p>

        <p>
            How this is accomplished depends on the business need and the resources available.
            Our leadership believes through their own experiences that a proper engagement model is the key to project success.
            As we all know, business thrives on partnerships. Taking this into account from the first conversation
            is one of the most critical aspects for project success.  In all cases, communication is key.
        </p>
        <p>
            The simplest way we engage is as staff augmentation.  We can add bodies to your project that you manage in order to
            increase your development velocity or knock out a list of bugs.

            Time and materials on a C2C 1099 basis
            billed monthly or biweekly are common for these engagements.
            We will quickly vet your methodologies and practices in order to determine whether we believe that the engagement
            will end  as a successful one before committing to any resoureces that you have to commit any finances towards.
        </p>
        <p>
            The next level of Engagement is where we become involved with the development process itself. We are experts at
            implementing azure devops as Tools in a fully agile CI/CD environment.

            We are capable of working as a fully remote US-based team and can achieve better results than most in office
            teams with larger projects benefiting even more due to talent availability.  With a bit more effort we can
            source local resources for onsite engagements as well.
            The devops tools that we utilize for all projects ensures that you are always able to view the state of development
            efforts in real time.

            Staff can be a combination of internal, supplied by us, or a combination and we can negotiate the tools used for management and reporting as well.

            This is our most efficient engagement model for projects with more than two developers.  This level of engagement is where we truly shine.
        </p>
        <p>
            The final engagement model that we offer is migrating your on-premise infrastructure to the cloud.

            We offer partial migrations as well as full migrations and we are fully capable of implementing
            hybrid secure data between sites. We are a MS cloud Solutions provider with the full resources of
            the Microsoft Partner Network at our disposal.
        </p>
        <blockquote>
            We do things like: <br />
            Cloud Application Development · Application Development · Web Development · Custom Software Development
        </blockquote>
        <blockquote>
            Offering development services centering around Microsoft Cloud and Web platforms. Open to remote software development opportunities currently specializing in API and back end Core and Entity Framework.
            <br />
            Flawless Development partners with clients to provide pragmatic web and microservice solutions in the Microsoft space from design through delivery.
        </blockquote>

    </div>

</div>

<!-- divider -->
<div class="row">
    <div class="span12">
        <div class="solidline"></div>
    </div>
</div>
<!-- end divider -->

<div class="blankline30"></div>
